.page-bg-color{
  background: #000000;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.page-bg{
  background-image: url('../assets/images/hogwarts.jpg');
  width: 100%;
  height: 100%;
  margin:auto auto;
  background-position: center center;
  background-size: cover;
  position:fixed;
  z-index:-1;
    -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  display:block;
}
#results-table{
  width: 80%;
  margin: auto auto;
}
table, th, td, tr, tbody{
  border: 0px !important;;
}
th{
  text-align:center;
}

#gryff{
  background-image: url('../assets/images/gryffindor.png');
}
#sly{
  background-image:url('../assets/images/slytherin.png');
}
#rav{
  background-image:url('../assets/images/ravenclaw.png');
}
#huff{
  background-image:url('../assets/images/hufflepuff.png');
}
#gryff, #sly, #rav, #huff{
  background-size: cover;
  height: 315px;
  background-position: center center;
  position: relative;
  padding: 0;
  width: 25%;
}

#gryff-score, #sly-score, #rav-score, #huff-score{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: rgba(0,0,0,.75);
  margin: 0;
  color: #ffffff;
  font-size: 2rem;
}

h3{
  text-align:center;
  margin:15px 0 15px 0;
}
td#rotate{
    transform: translate(0px,0px) rotate(-45deg);
    font-weight: 800;
    font-size: 12px;
    vertical-align: middle;
    text-align:center;
}

td#leaderboard{
  text-align:center;
  font-weight: bold;
  background-color:#000000;
  color: White;
  font-size: 2.1rem;
}

.ind-points{
  background-color: white;
}

.ind-points td{
  padding: 5px 10px 5px 10px;
}

td.house-points{
  text-align:center;
}

.leaderboard-names{
  width: 100%;
}

.points{
  text-align: right;
}